@charset "UTF-8";
/* CSS Document */
body {
	color:#2E3D98;
	background: #C5CBED
}

body a {
	color: #2E3D98;
	text-decoration: none;
}

.navbar {
	background: #2E3D98;
	top: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

.buttons-navbar a {
	color:#FFFFFF;
	text-align: right;
	text-decoration: none;
}
.spacer-1 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 200px;
  top: 0;
}

.spacer-2 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}

.short-teaser {
	
}

.spacer-3 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}

.spacer-4 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 20px;
}

.beers img:hover {
	opacity: 0.9;
}

.spacer-5 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}