@charset "UTF-8";
/* CSS Document */

.navbar {
	background: #2E3D98;
	top: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

.buttons-navbar {
	text-align: right;
}
.spacer {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}

